body {
 background-color: #f9f9f9;
}
#wrap {
    border: 1px solid #ffffff;
    width: 959px;
    height: 950px;
    background-color: #ffffff;
    padding: 35px 50px 50px 50px;
    margin: 0 auto;
    position: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.items {
 background-image: url(../img/bground.jpg);
 margin-bottom:40px;
 font-size: 15px;
 width: 966px;
 height: 40px;
 text-align:left;
 font-size:13px;
}
.items li {
    display: inline-block;
    padding: 13px 40px;
}
.items li a {
    text-decoration:none;
    color:#ffffff;
    position: center;
}
.items li:hover {
 padding: 13px 40px;
 background: url(../img/hover.jpg)  center center no-repeat;
}
.items2 {
    float: left;
    width: 236px;
    border: 1px solid #c8c8c8;
}
.items2 :last-child{
 border: none;
}
.items2 li {
    border-bottom: 1px solid #c8c8c8;
    font-size: 14px;
}
.items2 li a {
    display: block;
    position: relative;
    text-decoration:none;
    color:#656363;
    text-indent: 13px;
    line-height: 3;
}
.items2 :hover {
    display: block;
    background-color: #f9f9f9;
    color:#000;
    text-indent: 23px;
}
.content {
    width: 678px;
    float: right;
}
.content p {
    font-size: 14px;
    color:#2c2c2c;
    line-height: 1.5;
    padding:20px;
}
.parent {
    display:block;
}
.parent:after {
    display: block;
    content: '';
    clear: both;
}
div .footer {
    background-color: #e1e1e1;
    height: 40px;
}
.items3 li {
    display: inline;
    float: left;
    width: 150px;
    padding:12px 0 12px 0;
}
.items3 li a {
    padding:13px;
    text-decoration:none;
    color:#2c2c2c;
    font-size:13px;
}
.items3 :hover {
    text-decoration: underline;
}
.footer p {
    display:block;
    float:right;
    font-size: 13px;
    padding-right: 20px;
}
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}
